<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlykho_quang_make.Properties.Settings.QLK_quang_makeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLK_quang_make;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="quanlykho_quang_make.Properties.Settings.QLK_quang_makeConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLK_quang_make;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="quanlykho_quang_make.Properties.Settings.QLK_quang_makeConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS2005;Initial Catalog=QLK_quang_make;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="quanlykho_quang_make.Properties.Settings.QLK_quang_makeConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS2005;Initial Catalog=QLK_quang_make;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.Do_An_QLK_ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLK_quang_make;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.Do_An_QLK_ConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLK_quang_make;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.Do_An_QLK_ConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS2005;Initial Catalog=Do_An_Quan_Ly_Kho;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.Do_An_QLK_ConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS2005;Initial Catalog=QLK_quang_make;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.TEMP_TTYT_LAI_CHAUConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TEMP_TTYT_LAI_CHAU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Do_An_Quan_Ly_Kho.Properties.Settings.Do_An_Quan_Ly_KhoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Do_An_Quan_Ly_Kho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
